@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --font-style: 'Open Sans', sans-serif;
    --border-shadow: 0 0 2px #b9b4b4;
}

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: var(--font-style);
}

nav{
    background-color: #7ACC2D;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#imagen-logo{
    height:40px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    color: white;
}

.main_content{
    padding: 20%;
    display: flex;
    text-align: center;
}

.products{
    background-color: silver;
    border-radius: 35% 35% 0px 0px;
    display: flex;
    padding: 10%;
    justify-content: center;
}

.products .product{
    padding: 10px;
    margin-top: -20%;
}

.products .product .product-content{
    background-color: white;
    padding: 5%;
    box-shadow: var(--border-shadow);
}
.products .product .product-image{
    text-align: center;
    padding: 5%;
}
.products .product .product-image img{
    width: 50%;
}

.product-button{
    background-color: #7ACC2D;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 0px;
    border-radius: 2px;
}

.product-button:hover{
    background-color: #5E9E22;
}

.benefits{
    display: flex;
    padding: 5%;
    justify-content: center;
}
.benefits .benefit{
    padding: 5%;
}

.benefits .benefit .benefit-content h2{
    text-align: center;
}

.benefits .benefit .benefit-image{
    text-align: center;
}

.benefits .benefit .benefit-image img{  
    width: 80%;
}

.mentions{
    display: flex;
    flex-direction: column;
    padding: 0% 5% 5% 5%;
    border-top-width: 1px;
    border-top-color: #b9b4b4;
    border-top-style: solid;
}
.mentions h1{
    text-align: center;
}
.mentions-content{
    display: flex;
    
}
.mentions-content .mention{
    margin: 3px;
    box-shadow: var(--border-shadow);
}


.modulo_pago{
    box-shadow: var(--border-shadow);
    padding: 10px;
}

.modulo_pago input{
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #b9b4b4;
    width: 100%;
    box-sizing: border-box;
}

.pago_image{
    margin: auto;
}

.pago_image img{
    width: 100%;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white
}
footer .option a{
    text-decoration: none;
    color: #7ACC2D;
}